<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sdhacks16-app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>433482FD1D9F7F7300430552</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>433483131D9F7F7400430552</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4334831E1D9F7F7400430552</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
